{:deps {org.clojure/clojure {:mvn/version "1.10.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "6ec7f8eef509cd14d831e8cc16e856b31327a862"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :each {:main-opts ["-m" "cognitect.test-runner" "-e" "integration" "-n" "fixture-each-test"]}
           :once {:main-opts ["-m" "cognitect.test-runner" "-e" "integration" "-n" "fixture-once-test"]}}}
